* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  height: 10vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.logo {
  width: 30%;
  float: left;
  margin-left: 50px;
  line-height: 10vh;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

nav {
  float: right;
  line-height: 10vh;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  margin-right: 50px;
}

nav a:hover {
  text-decoration-line: underline;
}

body {
  background-image: url("images/donation.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

#home-page {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #000;
}

#button {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  box-shadow: 0 0 10px yellow;
}

#button:hover {
  background-color: orange;
  transform: scale(1.2);
  transition: 0.2s ease-out;
}

#donation-page {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading2 {
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: none;
}

#information-page {
  height: 100vh;
  width: 100vw;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  padding-top: 40px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 2rem;
}

.description {
  width: 60%;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
}

#contact-page {
  background-color: rgb(0, 0, 0, 0.8);
  padding-left: 50px;
  padding-bottom: 50px;
}

p {
  line-height: 1.5rem;
  color: #fff;
  padding-bottom: 8px;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 6px;
}
